<header class="header-bg text-white shadow-lg py-4">
    <nav class="container mx-auto flex justify-between items-center px-6">
        <a href="/" class="flex items-center space-x-3 text-3xl font-extrabold tracking-tight">
            <img src="{{ url_for('static', filename='images/logo-cropped.svg') }}" alt="1729 Chambers Logo" class="h-10 w-auto">
            <span><span class="text-[#b77f58]">1729 </span>Chambers</span>
        </a>
        <div class="space-x-6">
            <!--
            <a href="/" class="nav-link text-lg font-medium">Home</a>
            -->
            
            <a href="/about" class="nav-link text-lg font-medium">About</a>
            <a href="/team" class="nav-link text-lg font-medium">Team</a>
            <a href="/portfolio" class="nav-link text-lg font-medium">Portfolio</a>
            <a href="/contact" class="nav-link text-lg font-medium">Contact</a>
        </div>
    </nav>
</header>
